*{
    padding : 0;
    margin: 0;
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', 'Verdana', 'sans-serif';
}

body{
   background-color: #fff;
}

.container{
    background-image: url(bg.jpg);
    height: 90vh;
    width: 100%;
    background-size: cover;
    background-position: top 25% right 0;
}

 h1{
    font-size: 4vw;
    font-weight: 500;
    text-align: center;
    padding-top: 20%;
    color: rgb(33, 14, 116);
}

.search-box{
    background: rgb(227, 230, 233);
    width: 70%;
    margin: 35px auto;
    padding: 7px 11px 7px 30px;
    border-radius: 50px;
}
 
.search-box form{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.search-box form label{
    color: rgb(14, 65, 168);
}

.search-box form input{
    display: block;
    border: 0;
    outline: 0;
    background: transparent;
    color: rgb(64, 87, 133);
}

.search-box form button{
    background : #fff;
    color: rgb(88, 119, 179);
    padding: 8px 20px;
    margin-right: 50px;
    border-radius: 20px;
    text-decoration: none;
    font-size: 14px;
    border: 1px solid blue;
}

.location{
flex: 1;
}

.search-box form label{
    font-weight: 600;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(192, 204, 226);
    padding: 20px 7px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
    z-index: 999;
    position: sticky;
    top: 0;
}

.logo {
    width: 60px;
    cursor: pointer;
    margin-left: 30px;
    border-radius: 25px;
}

.nav-links li{
    list-style: none;
    display: inline-block;
    margin: 10px 10px;
}

.nav-links li a {
    text-decoration: none;
    color: rgb(88, 119, 179);
    margin-right: 25px;
}

.active-link{
    position: relative;
}

.active-link::after{
    content: "";
    background: rgb(57, 88, 150);
    width: 25px;
    height: 2px;
    position: absolute;
    left: 50%;
    bottom: -12px;
    transform: translateX(-50%);
    border-radius: 2px;
}


.register-btn{
    background : #fff;
    color: rgb(88, 119, 179);
    padding: 8px 20px;
    margin-right: 50px;
    border-radius: 20px;
    text-decoration: none;
    font-size: 14px;
    border: 1px solid blue;
    cursor: pointer;
} 

.line{
    margin-top: 10px;
    height: 20px;
    width: 20px;
    margin-left: 10px;
    display: inline;
}

.line-1 {
    margin-top: 10px;
    width: 15px;
    height: 15px;
    background: rgb(14, 65, 168);
    display: inline-block;
}

.line-2 {
    width: 20px;
    height: 1px;
    background: rgb(14, 65, 168);
    display: inline-block;
}

.line-3 {
    width: 60px;
    height: 1px;
    background: rgb(14, 65, 168);
    display: inline-block;
    margin-bottom: 5px;
}

.container-1{
    padding-top: 30px;
    padding-left: 15px;
}

.place-title{
    margin-top: 100px;
    margin-bottom: 40px;
    font-size: 40px;
    font-weight: 500;
    color: rgb(14, 65, 168);
    font-family: 'Times New Roman', Times, serif;
    margin-left: 400px;
    cursor: pointer;
 }

 .place{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 30px;
    align-items: center;
    flex-wrap: wrap; }

 .place div img{
    display: inline-block;
    width: 100%;
    height: 200px;
    border-radius: 50px;
    border: 1px solid rgb(128, 144, 177);
    cursor: pointer;
 }

 .info{
    color: rgb(14, 65, 168);
    font-style: bold;
    font-weight: 300;
    display: flex;
    cursor: pointer;
    justify-content: center;
 }

 .p-info{
    color: gray;
    font-size: 15px;
    font-style: italic;
    font-weight: 500;
    display: flex;
    margin-bottom: 15px;
    cursor: pointer;
    justify-content: center;
 }

 .trending-places{
     display: grid;
     grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
     grid-gap: 30px;
     align-items: center;
     flex-wrap: wrap;
     margin-left: 20px;
     margin-right: 20px;
 }

 .trending-places div img{
     display: inline-block;
     width: 100%;
     height: 200px;
     border-radius: 10px;
     cursor: pointer;
 }

.trending-places h3{
    color: rgb(14, 65, 168);
    margin-top: 5px;
    font-style: bold;
    font-weight: 600;
    display: flex;
    cursor: pointer;
    justify-content: center;
 }

 .earn-money{
    margin: 20px;
    margin-top: 50px;
    background-image: linear-gradient(to right, #87cfcf, transparent), url(couch.webp);
    background-size: cover;
    height: 190px;
    background-position: center;
    border-radius: 10px;
    padding: 20px;
    color: rgb(6, 44, 119);
 }

 .earn-money h3{
    font-size: 3vw;
    line-height: 5.3vw;
    font-weight: 600;
 }

 .earn-money p{
    font-size: 20px;
    margin: 10px 0;
 }

 .earn-btn{
    background: #20a1a1;
    color: #e3e7eb;
    text-decoration: none;
    padding: 10px 25px;
    display: inline-block;
    border-radius: 10px;
    border: 1px solid #205ca1;
 }

.stories{
    display: grid;
     grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
     grid-gap: 30px;
     align-items: center;
     flex-wrap: wrap;
     margin-left: 20px;
     margin-right: 20px;
}

.stories div img{
    display: inline-block;
    width: 100%;
    height: 250px;
    border-radius: 10px;
    cursor: pointer;
}

.stories div{
    position: relative;
    text-align: center;
}

.stories p{
    width: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(10, 27, 27);
    font-size: 26px;
}

.travel-stories {
    margin-top: 50px;
    margin-bottom: 40px;
    font-size: 40px;
    font-weight: 500;
    color: rgb(16, 65, 168);
    font-family: 'Times New Roman', 'Times', 'serif';
    margin-left: 400px;
    cursor: pointer;
}

.money-btn{
    text-decoration: none;
    background: rgb(16, 65, 168);
    color: white;
    width: 80%;
    max-width: 350px;
    display: block;
    text-align: center;
    margin: 60px auto;
    padding: 15px;
    border-radius: 30px;
    font-size: 18px;
}

.about-us{
    text-align: center;
    margin: 70px 0;
    color:#999;
    font-size: 10px;
}

.about-us h2{
    font-size: 24px;
    margin-bottom: 25px;
    font-weight: 500;
}

.footer {
    margin: 80px 0 10px;
    text-align: center;
}

.footer a{
    text-decoration: none;
    color: #999;
    font-size: 22px;
    margin: 0 10px;
}

.footer p{
    padding-bottom: 20px;
    color: #999;
}

hr{
    background: rgb(14, 65, 168);
    height: 1px;
    width: 100%;
    border: 0;
    margin: 20px 0;
}

nav .fa-bars{
display: none
}

@media only screen and (max-width : 700px){
  
.logo {
    position: fixed;
    top: 4%;
    left: 6%;
}

nav .fa-bars{
    display: block;
    position: fixed;
    top: 4%;
    right: 7%;
    color: #205ca1;
    font-size: 28px;
    cursor:pointer;
}

.active-link::after{
    left: -40px;
    bottom: 50%;
    transform: translate(0, 50%);
}

.hide-menu{
    max-height: 300px;
}

h1{
    padding-top: 50px;
    font-size: 7vw;
}
.search-box{
    width: 50%;
    height: 50%;
    margin: 30px auto;
    border-radius: 10px;
    position: relative;
}

.search-box form {
    display: block;
}

.search-box form input{
    width: 100%;
    margin-bottom: 20px;
    margin-top: 10px;
    padding-bottom: 10px;
}

.search-box form button{
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-top: 5px;
    transform: translate(-50%, 50%);
}

.place-title{
    font-size: 5vw;
    margin: 25px;
}

.travel-stories{
    font-size: 5vw;
    margin: 25px;
}

.earn-money{
    padding: 15% 5%;
}

.earn-money h3{
    font-size: 7vw;
    line-height: 8vw;
}

.earn-money p {
    font-size: 14px;
}

.earn-btn{
    padding: 6px 15px;
    border-radius: 4px;
    margin-top: 10px;
    font-size: 14px;
}

.stories p{
    font-size: 20px;
}

.about-us{
    font-size: 10px;
    padding-bottom: 5px;
}
}
